.result-container {
    min-width: 320px;
    max-width: 600px;
    height: auto;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 200px;
}

.result-title {
    height: 50px;
    font-weight: bold;
    text-align: center;
    border-bottom-style: solid;
    border-color: lightgray;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    background-color: #F2B705;
    text-align: left;
    justify-content: center;
    padding-left: 10px;
    color:white;
}

.result-components {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.result-image {
    margin: 'auto';
    display: 'block';
    max-width: '100%';
    max-height: '100%';
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.result-separator {
    text-align: center;
    background-color: lightgray;
    height: 100%;
    width: 1px;
}

.result-text {
    
    font-weight: bold;
    font-size: 1em;
    height: 30px;
}

.vote-div {
    background-color: #F2B705;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    margin-top: -44px;
    margin-left: 318px;
    position: absolute;
    height: 50px;
    display: flex;
    align-items: center;
    color:white;
    font-weight: bold;
}